In [5]:
import pandas as pd

In [6]:
df = pd.read_csv('./objetos.csv')

In [7]:
df

     right_ascension   declination   priority
0           0.658225      0.113691          2
1           0.635183      0.137913          2
2           0.345143      0.188807          2
3           0.355991      0.198255          2
4           0.136448      0.199292          1
..               ...           ...        ...
561         0.392908      0.964627          2
562         0.115017      0.965587          2
563         0.119064      0.969787          2
564         0.353182      0.978243          2
565         0.117911      0.985633          2

[566 rows x 3 columns]

In [8]:
df['right_ascension']

0      0.658225
1      0.635183
2      0.345143
3      0.355991
4      0.136448
         ...
561    0.392908
562    0.115017
563    0.119064
564    0.353182
565    0.117911
Name: right_ascension, Length: 566, dtype: float64